<footer id="rodape" class="footer navbar fixed-bottom align-middle">
    <p>Dev2You ©</p>
    <div class="imagens d-flex justify-content">
        <a href="https://www.linkedin.com/company/dev2you/" target="_blank"><img class="img-icons"
                src="../../../assets/img/linkedin-icon.png"></a>
        <a href="https://www.facebook.com/dev2you.tec" target="_blank"><img class="img-icons"
                src="../../../assets/img/facebook-icon.png"></a>
        <a href="https://www.instagram.com/dev2you.tec/" target="_blank"><img class="img-icons"
                src="../../../assets/img/instagram-icon.png"></a>
    </div>
</footer>